@using Quanlycafe.Models;
@model List<Loaihang>


<br />

<div class="bg-success">

    <h3> DANH MỤC  </h3>

    <div class="row">

        @foreach (var item in Model)
        {
            <div style=" margin-left: 50px;margin-bottom:20px;" class="col-lg-1">
                <button style="padding:20px 50px 20px 50px;" class="success"><a href="#"> @item.Tenhang</a></button>
            </div>
        }
    </div>
</div>