@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Vo Dương Duy Trực
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    086 544 8249
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:truchcb321@gmail.com">truchcb321@gmail.com</a><br />
</address>