
<div class="row">
    <div class=" bg-danger"><h3 style="padding-left: 20px; font-size: 30px;"> BANH </h3></div>
    @foreach (var item in Model)
    {
        <div  style="border: 2px black solid; padding-left: 5px; background-color: #ffd9b3 ;" class="col-md-3 col-sm-6">
            <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
            <img style="padding-top:20px;"  src=@Url.Content("~" +item.Anhbia.ToString()) class="img-responsive" alt="" width="400" height="400" />
            </a>
            <center>
                <h3>@item.Tensp</h3>
                <h3 style="color:red">@String.Format("{0:0,0}", @item.Giatien) VND</h3>
                <br />
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                {
                    <input style="margin-bottom:20px"  type="submit" value="Mua hàng" id="bgnGioHang" />

                }
                
            </center>

        </div>
    }
    
</div>


